body {
    font-family: "Roboto", sans-serif; 
    background-color: #fff;
    color: #434455;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

img{
    display: block;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.header-container{
    display: flex;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 332px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
    margin-right: 76px;
}


.header-logo-black {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-list{
    display: flex;
    gap: 40px;
}


.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf 
}

.header-menu-list {
    list-style: none;
}

.header-address-item:hover,
.header-address-item:focus{
    color: #404bbf
}

.header-address{
    font-style: normal;
}

.header-address-menu{
    list-style: none;
    display: flex;
    gap: 40px;    
}

.header-address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

/* Section-1 */

.solutions {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.solutions-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    display: block;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    color: #fff;
    cursor: pointer;;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5
}

.solutions-button:hover,
.solutions-button:focus {
    background-color: #404BBF
}

/* Section-2 */

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-menu {
    list-style: none;
    display: flex;
    gap: 24px;
}

.advantages-list {
    width: calc((100% - 3 * 24px) / 4);
}

.advantages-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section-3 */

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-div{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 163px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-menu {
    list-style: none;
    display: flex;
    gap: 24px;
}

.team-list {
    padding-bottom: 32px;
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
    width: calc((100% - 3 * 24px) / 4);
}

.team-img {
    margin-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    text-align: center;
    color: #434455;
}

/* Section-4 */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-img {
    margin-bottom: 32px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-left: 16px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
}

/* Footer */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-white{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}
